html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.btn-admin {
    margin: 15px 0px 15px 0px;
}

.sidebar-left {
    color: #fff;
    background-color: #2f4050;
    position: fixed;
    left: 0;
    top: 0;
    /* min-height: 100%; */
    width: 240px;
    bottom: 0;
    z-index: 3;
    transition: transform 200ms ease-in-out;
    -webkit-transition: transform 200ms ease-in-out;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    overflow: hidden;
}

.sidebar-left-title{
    height: 60px;
    padding: 10px;
    text-align: center;
}

.sidebar-left-link{
    text-align: center;
    padding: 10px;
}

.content{
    margin-left: 240px;
}

.sidebar-top{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #f1f1f1;
}

.sidebar-top>form{
    position: absolute;
    right: 20px;
    top: 14px;
    color: #8c9092;
}

.sidebar-top>form>button{
    padding: 6px;
    color: #6e7071;
}

.sidebar-top-exit{
    float: right;
}

.sidebar-left-link a{
    color: #d8d330;
}

.sidebar-left-link a:hover{
    color: #d8d330;
}

.navmenu-nav>li>a{
    color: #a7b1c2;
    padding: 12px 30px;
}

.navmenu-nav li.active {
    border-left: 4px solid #19aa8d;
    background: #293846;
}

.navmenu-nav .active>a{
    color: #fff;
}

.my-container {
    margin: 40px;
}

.small-menu{
    background-color: #293846;
}

.small-menu>li:before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 9px;
    left: 14px;
    margin-top: 18px;
    position: absolute;
    right: auto;
    width: 9px;
    z-index: 1;
    border-radius: 50%;
}

.small-menu>li:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
}

.small-menu>li:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 18px;
    position: absolute;
    top: 0;
}

.open>a{
    background-color: #425668;
}

.nav>li>a:hover{
    background-color: #293846;
}

.navmenu-nav>li>a:hover {
    background-color: #293846;
}

.btn-lilac {
    background-color: #19aa8d;
    border-color: #259e87;
}

.permissions-item {
    display: table;
}

.permissions-item input{
    vertical-align: middle;
    display: inline-block;
    margin: 0px;
}

.permissions-item label{
    vertical-align: middle;
    display: inline-block;
    margin: 0 0 0 10px;
}

.role-full {
    width: 300px;
}

.permissions-full {
    border: 1px solid #e3e3e3;
    padding: 25px 15px 15px 15px;
    margin: 20px 0 20px 0;
    position: relative;
}

.permissions-title {
    position: absolute;
    top: -17px;
    padding: 5px 15px 5px 15px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
}

.btn-indents-right{
    margin: 0 4px 0 0;
}

.table-hover-gray tbody tr:hover{
    background-color: #dfdee6;
}

/* Доступ запрещён в админке */
.no-access-fon {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #f4f7fb;
}

.no-access-text{
    display: table-cell;
    vertical-align: middle;
}

.no-access-content{
    width: 400px;
    height: 180px;
    margin: auto;
    border: 2px solid rgb(242, 252, 240);
    border-radius: 20px;
    background-color: #f1f1f1a6;
    box-shadow: rgb(170, 170, 170) 0px 0px 10px 2px;
    -webkit-box-shadow: rgb(170, 170, 170) 0px 0px 10px 2px;
}

.no-access-content>h2{
    font-size: 40px;
}

.no-access-content>p{
    margin: 20px;
}

.no-access-exit>button{
    color: #999c9e;
    font-size: 19px;
    padding: 3px;
}

.no-access-exit>span{
    color: #999c9e;
    font-size: 14px;
    vertical-align: middle;
}


/* Страничка ожидание модерации */
.user-moder {
    min-width: 230px;
    margin: 20px;
    border: 1px solid #c1bebe;
    padding: 20px 10px 20px 10px;
}

.user-moder-avatar{
    display: inline-block;
    padding: 0 10px 0 10px;
}

.user-moder-name{
    display: inline-block;
    padding: 0 10px 0 10px;
}

.user-moder-email-phone{
    display: inline-block;
    padding: 0 10px 0 10px;
}

.user-moder-btn{
    display: inline-block;
    padding: 10px;
}

.user-moder-avatar img{
    height: 150px;
}

.user-moder-fio{
    font-size: 22px;
}

.user-moder-compani{
    color: #afafaf;
}

.info-site-contend{
    margin: 25px auto;
}

.btn-form-file-del{
    padding: 4px 8px 2px 9px;
}

.form-a-del{
    margin: 8px;
}

.form-group-input{
    margin: 5px 0 5px 0;
}

.input-checkbox-radio{
    width: calc(100% - 40px);
    display: inline-block;
}

.breadcrumb{
    background-color: #fff;
    border: 1px solid #cccccc;
}

.table-striped thead tr th{
    color: #3c8dbc;
}

.btn-del-group{
    display: inline-block;
    margin: 0px 0 0 3px;
}

#object-noticesarray label{
    display: block;
    padding: 0 0 0 15px;
}

.checkbox{
    display: block;
    padding: 0 0 0 35px;
    margin: 0 0 10px 0;
}

.radio{
    display: block;
    padding: 0 0 0 35px;
    margin: 0 0 10px 0;
}

.form-attribute{
    margin: 5px 0 5px 0;
}

.row-padding{
    padding-right: 15px;
    padding-left: 15px;
}

.form-height {
    height: 95px;
}


.create-object-img{
    margin: 20px 0 20px 0;
}

.catalog-user-avatar img {
    width: 100%;
}

.catalog-user-info {
    font-size: 15px;
}

.catalog-user-btm {
    padding: 5px 0 10px 0;
}

.catalog-user-profil {
    margin: 20px -15px 20px -15px;
}

.span-progress-color span{
    color: #000;
    margin: 0 5px 0 5px;
}


.left-pr-striped{
    float: left;
    margin: 3px 10px 0 10px;
}

.center-pr-striped{
    float: left;
    width: 75%;
}

.right-pr-striped{
    float: right;
    margin: 3px 10px 0 10px;
}

.print-amount-striped{
    color: black;
    margin-left: 4.5cm;
}

