html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    /*padding: 70px 15px 20px;*/
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-height{
    height: 95px;
}

/* меню */
.menu-exit{
    background-color: #fff;
    border: 0px;
    padding: 2px 20px;
    width: 100%;
    text-align: left;
}

.menu-exit:hover{
    background-color: #f5f5f5;
}


/* Страница профиля (user/profile) */
.user-avatar{
    height: 100%;
    width: 100%;
}

.user-avatar>img{
     height: 100%;
     width: 100%;
 }

.name-compani{
    color: #8c8c8c;
    font-size: 14px;
    padding: 2px 0 0 20px;
}

.name-other{
    margin: 20px;
}

.user-fio {
    font-size: 40px;
}

.profile{
    margin: 50px 0 0 0;
}


/* админ панель */
.admin-panel{
    height: 85px;
    width: 100%;
    background-color: #2f4050;
    border-bottom: 1px solid #bfaaca;
}

.admin-panel ul{
    padding: 9px 15px 9px 15px;
    margin: 0;
    height: 85px;
}

.admin-panel ul li{
    display: inline-block !important;
    padding: 0px 15px !important;
}

.admin-panel ul li a{
    background-size: 60px;
    width: 80px !important;
    height: 0 !important;
    display: block !important;
    position: relative !important;
    line-height: 25px !important;
    text-align: center !important;
    padding-top: 50px !important;
    text-transform: uppercase !important;
    font-size: 10px !important;
    color: #d3d3d3;
}


/* окно бана */
.ban-fon {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #f4f7fb;
}

.ban-contend{
    display: table-cell;
    vertical-align: middle;
}

.ban-text{
    width: 550px;
    height: 160px;
    margin: auto;
    border: 2px solid rgb(242, 252, 240);
    border-radius: 20px;
    box-shadow: rgb(170, 170, 170) 0px 0px 10px 2px;
    -webkit-box-shadow: rgb(170, 170, 170) 0px 0px 10px 2px;
}

.no-access-exit{
    margin: 15px;
}

.no-access-exit>span {
    color: #999c9e;
    font-size: 14px;
    vertical-align: middle;
}

.no-access-exit>button {
    color: #999c9e;
    font-size: 20px;
    padding: 3px;
}