html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    /*padding: 70px 15px 20px;*/
}

.footer {
    height: 60px;
    background-color: #101C36;
    border-top: 0;
    padding-top: 20px;
    color: #FFFFFF;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-height{
    height: 95px;
}

/* меню */
.menu-exit{
    background-color: #fff;
    border: 0px;
    padding: 2px 20px;
    width: 100%;
    text-align: left;
}

.menu-exit:hover{
    background-color: #f5f5f5;
}


/* Страница профиля (user/profile) */
.user-avatar{
    height: 100%;
    width: 100%;
}

.user-avatar>img{
     height: 100%;
     width: 100%;
 }

.name-compani{
    color: #8c8c8c;
    font-size: 14px;
    padding: 2px 0 0 20px;
}

.name-other{
    margin: 20px;
}

.user-fio {
    font-size: 40px;
}

.profile{
    margin: 50px 0 0 0;
}


/* админ панель */
.admin-panel{
    display: none;
    height: 85px;
    width: 100%;
    background-color: #2f4050;
    border-bottom: 1px solid #bfaaca;
}

.admin-panel ul{
    padding: 9px 15px 9px 15px;
    margin: 0;
    height: 85px;
}

.admin-panel ul li{
    display: inline-block !important;
    padding: 0px 15px !important;
}

.admin-panel ul li a{
    background-size: 60px;
    width: 80px !important;
    height: 0 !important;
    display: block !important;
    position: relative !important;
    line-height: 25px !important;
    text-align: center !important;
    padding-top: 50px !important;
    text-transform: uppercase !important;
    font-size: 10px !important;
    color: #d3d3d3;
}


/* окно бана */
.ban-fon {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #f4f7fb;
}

.ban-contend{
    display: table-cell;
    vertical-align: middle;
}

.ban-text{
    width: 550px;
    height: 160px;
    margin: auto;
    border: 2px solid rgb(242, 252, 240);
    border-radius: 20px;
    box-shadow: rgb(170, 170, 170) 0px 0px 10px 2px;
    -webkit-box-shadow: rgb(170, 170, 170) 0px 0px 10px 2px;
}

.no-access-exit{
    margin: 15px;
}

.no-access-exit>span {
    color: #999c9e;
    font-size: 14px;
    vertical-align: middle;
}

.no-access-exit>button {
    color: #999c9e;
    font-size: 20px;
    padding: 3px;
}

#userpassport-form_participation_id label{
    display: block;
}

.form-update-pic{
    width:300px;
}

.form-update-pic img{
    width:100%;
}


/* тариф */
.pay-fon {
    height: 200px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 10px;
}

.pay-tariff {
    padding: 49px 49px 49px 75px;
}

.pay-tariff h3{
    margin-bottom: 11px;
    font: bold 32px/1.2 'Tele2 Web',Arial,Helvetica,sans-serif;
    color: #009bde;
}

.pay-tariff p{
    font-size: 15px;
}

.pay-price{
    padding: 60px 45px 50px 0px;
}

.pay-price p{
    font-size: 18px;
}

.pay-price label{
    font-size: 34px;
    margin: 0 0 5px 0;
}

.pay-btn-pole {
    padding: 74px;
}

.pay-btn {
    border: 0;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: #009bde;
    border-color: #009bde;
    font-size: 18px;
    color: #fff;
}

.price-discont {
    position: relative;
}

.pay-new-price {
    position: absolute;
    font-size: 22px;
    color: red;
    top: 10px;
    right: 102px;
    transform: rotate(9deg);
}

.pay-discont-line1{
    position: absolute;
    height: 4px;
    width: 154px;
    border-radius: 2px;
    background-color: red;
    transform: rotate(40deg);
    top: 85px;
    right: 140px;
}

.pay-discont-line2{
    position: absolute;
    height: 4px;
    width: 154px;
    border-radius: 2px;
    background-color: red;
    transform: rotate(-40deg);
    top: 85px;
    right: 140px;
}

.radio-form>div label{
    display: block;
    padding: 0 0 0 15px;
}

.checkbox{
    display: block;
    padding: 0 0 0 35px;
    margin: 0 0 10px 0;
}

.radio{
    display: block;
    padding: 0 0 0 35px;
    margin: 0 0 10px 0;
}

.form-attribute{
    margin: 5px 0 5px 0;
}

.row-padding{
    padding-right: 15px;
    padding-left: 15px;
}

.input-adjustment label{
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}

.object-item {
    margin: 20px 0 20px 0;
    padding: 15px 0 14px 0;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    background: #fefefe;
    -webkit-box-shadow: 0 2px 2px #f1f0f0;
    box-shadow: 0 2px 2px #f1f0f0;
}

.object-item-img{
    position: relative;
}

.object-item-img img{
    width: 100%;
}

.object-tag{
    position: absolute;
    right: 40px;
    background: #de89b0;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px 10px;
}

.object-conf{
    position: absolute;
    left: 50%;
    background: #d5dcff;
    border: 2px solid #f96ffb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px 10px;
    transform: translateX(-50%);
}


/* каталог */
.comments{
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    background: #fefefe;
    -webkit-box-shadow: 0 2px 2px #f1f0f0;
    box-shadow: 0 2px 2px #f1f0f0;
    margin: 15px 0 15px 0;
}

.comments-field{
    min-height: 545px;
    padding: 15px 0 0;
}

.comments-form{
    padding: 15px 0 15px 0;
}

.comments-textarea{
    width: 100%;
}


/* view каталог */
.catalog-user-profil{
    margin: 20px -15px 20px -15px;
}

.catalog-user-avatar img{
    width: 100%;
}

.catalog-user-info {
    font-size: 15px;
}

.catalog-user-btm{
    padding: 5px 0 10px 0;
}

.comments-fon{
    padding: 5px 15px 0 15px;
}

.news-comment hr{
    margin-top: 5px;
}

.left-pr-striped{
    float: left;
    margin: 3px 10px 0 10px;
}

.center-pr-striped{
    float: left;
    width: 75%;
}

.right-pr-striped{
    float: right;
    margin: 3px 10px 0 10px;
}

.print-amount-striped{
    color: black;
    margin-left: 4.5cm;
}

#ex1Slider {
    width: 100%;
}

.object-ncs{
    position: absolute;
    left: 40px;
    background: #e4ef4a;
    border: 2px solid #398ff9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px 10px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    color: #3B34A6;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary:active:hover {
    background-color: #3B34A6;
    border: 0;
    border-radius: 24px;
    padding: 15px 10px;
    min-width: 155px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}

.btn-primary.btn-phone,
.btn-primary.btn-phone:active,
.btn-primary.btn-phone:focus,
.btn-primary.btn-phone:hover,
.btn-primary.btn-phone:active:focus,
.btn-primary.btn-phone:active:hover {
    border-radius: 5px;
    color: #FFFFFF;
    min-width: auto;
}

.btn-primary.btn-order,
.btn-primary.btn-order:active,
.btn-primary.btn-order:focus,
.btn-primary.btn-order:hover,
.btn-primary.btn-order:active:focus,
.btn-primary.btn-order:active:hover {
    padding: 10px 70px;
    color: #FFFFFF;
    border-radius: 30px;
    font-size: 25px;
}

.btn-default,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.btn-default:active:focus,
.btn-default:active:hover {
    border: 2px solid #3B34A6;
    background-color: #FFFFFF;
    padding: 15px 40px;
    color: #3B34A6;
    border-radius: 24px;
    font-size: 12px;
    font-weight: 700;
}

.btn-default.btn-get-consultation,
.btn-default.btn-get-consultation:active,
.btn-default.btn-get-consultation:focus,
.btn-default.btn-get-consultation:hover,
.btn-default.btn-get-consultation:active:focus,
.btn-default.btn-get-consultation:active:hover {
    text-transform: uppercase;
    font-size: 16px;
}

.btn-primary.btn-order span {
    font-size: 42px;
    font-weight: 700;
}

.heading {
    text-align: center;
    padding-bottom: 40px;
}

.heading h2 {
    font-weight: 700;
    color: #3B34A6;
}

.heading span {
    text-transform: uppercase;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 20;
}

.page header {
    position: relative;
}

header .top {
    padding: 30px 0;
    color: #FFFFFF;
}

.header-address {
    font-size: 12px;
    text-align: right;
}

.header-phone {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.header-address,
.header-phone {
    margin-top: 15px;
}

.call-order {
    margin-top: 8px;
}

.navbar {
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.navbar .container {
    background-color: #1B2746;
}

.navbar-nav > li > a {
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-default .navbar-nav > li > a {
    color: #788AB5;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active:hover,
.navbar-default .navbar-nav > li > a:active:focus {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: transparent;
}

.slider.flexslider {
    position: relative;
    border: 0;
    border-radius: 0;
    z-index: 10;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.slider .slides li {
    min-height: 777px;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider .flex-control-nav {
    bottom: 20px;
}

.slider .flex-control-paging li a {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    background-color: #707070;
}

.slider .flex-control-paging li a.flex-active {
    border-color: #FFFFFF;
    background-color: transparent;
}

.slider .flex-control-paging li a.flex-active:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #FFFFFF;
}

.slider .flex-caption {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

/* TODO: Префиксы. */
.slider .flex-caption .slide-row {
    align-items: inherit;
    align-content: center;
}

.slider .flex-caption .slide-row .item {
    flex-basis: 50%;
    padding: 0 35px;
    border-right: 1px solid #ffffff;
}

.slider .flex-caption .slide-row .item:last-child {
    border-right: 0;
}

.slider .flex-caption .slide-row .item h2 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.slider .flex-caption .slide-row .item h2 span {
    display: inline-block;
    width: 100%;
    font-size: 36px;
    color: #8AA3ED;
    font-weight: 400;
}

/* TODO: Префиксы. */
.slider .flex-caption .slide-row .item.item-small {
    flex-basis: 25%;
    display: flex;
    align-items: center;
}

.slider .flex-caption .slide-row .item.item-small p {
    font-size: 30px;
}

.slider .flex-caption .slide-row .item.item-small p span {
    font-weight: 700;
}

.slider .flex-caption .slide-text {
    padding: 20px 35px;
}

.slider .slides li {
    position: relative;
}

.advantages {
    background-color: #F5F5F5;
    padding: 50px 0;
}

.advantages h3 {
    margin-top: 0;
}

.advantages .item .image {
    position: relative;
}

.advantages .item .image img {
    position: relative;
    z-index: 10;
}

.advantages .item .image::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: #DFDFDF;
    z-index: 1;
}

.advantages p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.programs .container {
    background: url(../img/main/programs-bg.png) no-repeat center top / 100% auto;
}

.programs h2 {
    margin-top: 40px;
}

.programs .item h3 {
    margin-top: 10px;
}

.programs .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 50px 30px;
    -webkit-box-shadow: 6.13px 5.14px 18px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 6.13px 5.14px 18px 0px rgba(0,0,0,0.35);
    box-shadow: 6.13px 5.14px 18px 0px rgba(0,0,0,0.35);
    margin-bottom: 30px;
    max-height: 335px;
}

.programs .item.small-padding {
    padding: 31px 30px;
}

.programs .item .image {
    flex-basis: 45%;
}

.programs .item .text {
    flex-basis: 55%;
    padding-left: 25px;
    border-left: 2px solid #3B34A6;
}

.get-consultation {
    background: url(../img/main/get-consultation-bg.jpg) no-repeat center center / cover;
    min-height: 335px;
    padding: 115px 0;
}

.get-consultation .heading {
    text-align: left;
}

.get-consultation .heading h2 {
    color: #FFFFFF;
}

.get-consultation span {
    font-size: 18px;
    color: #E27856;
    text-transform: none;
}

.get-consultation .buttons {
    margin-top: 30px;
}

.calculator-row {
    padding: 0 0 20px;
}

.calculator-row label {
    font-size: 24px;
    font-weight: 400;
    color: #3B34A6;
    margin-top: 12px;
}

.calculator .container {
    background: url(../img/main/calculator-bg.png) no-repeat center top / 100% auto;
}

.calculator h2 {
    margin-top: 40px;
}

.calculator .item {
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    -webkit-box-shadow: 6.13px 5.14px 18px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 6.13px 5.14px 18px 0px rgba(0,0,0,0.35);
    box-shadow: 6.13px 5.14px 18px 0px rgba(0,0,0,0.35);
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    min-height: 530px;
}

.calculator .item.item-1 {
    background: #862183;
}

.calculator .item.item-2 {
    background: #109C98;
}

.calculator .item.item-3 {
    background: #6CBF4A;
}

.calculator .item.item-4 {
    background: #0F55A9;
}

.calculator .item h3 {
    color: #FFFFFF;
    font-weight: 400;
}

.calculator .item h3 span {
    font-weight: 700;
}

.calculator .item .info .price-name {
    font-size: 18px;
}

.calculator .item .info .price {
    display: block;
    margin: 10px 30px 0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.calculator .item.item-1 .info .price {
    color: #862183;
}

.calculator .item.item-2 .info .price {
    color: #109C98;
}

.calculator .item.item-3 .info .price {
    color: #6CBF4A;
}

.calculator .item.item-4 .info .price {
    color: #0F55A9;
}

.calculator .item .text {
    font-size: 12px;
    font-style: italic;
}

.calculator .item .info ul {
    font-size: 12px;
    text-align: left;
    margin: 40px 0;
}

.calculator .buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    min-height: 150px;
}

.calculator .buttons .message-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calculator .irs-from,
.calculator .irs-to,
.calculator .irs-single,
.calculator .irs-line,
.calculator .irs-slider.single {
    background-color: #3B34A6;
}

.calculator .irs-from::after,
.calculator .irs-to::after,
.calculator .irs-single::after {
    display: none;
}

.calculator .irs-line {
    height: 3px;
    top: 30px;
}

.calculator .irs-line > *,
.calculator .irs-slider.single,
.calculator .irs-bar,
.calculator .irs-bar-edge {
    background-image: none;
}

.calculator .irs-slider.single {
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.why-we .container:first-child {
    background: url(../img/main/why-we-bg.png) no-repeat center 30px / 100% auto;
    padding: 45px 0;
}

.why-we .why-we-carousel .item .info {
    padding: 0 45px;
}

.why-we .why-we-carousel .owl-dots {
    text-align: center;
    padding: 10px 0;
}

.why-we .why-we-carousel .owl-dots .owl-dot {
    display: inline-block;
    width: 45px;
    height: 12px;
    border: 3px solid #D8D8D8;
    background-color: transparent;
    margin-right: 5px;
}

.why-we .why-we-carousel .owl-dots .owl-dot.active {
    background-color: #403BAA;
    border-color: #403BAA;
}

.why-we .order-button {
    padding: 30px 0 40px;
    text-align: center;
}

.why-we .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.why-we .grid .item {
    flex-basis: 50%;
    padding: 40px;
}

.why-we .grid .item-image {
    padding: 0;
}

.why-we .grid .item .subheading {
    display: inline-block;
    color: #3B34A6;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.why-we .grid .item h3 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}

.why-we .grid .item .btn {
    margin-top: 20px;
}

.why-we .grid .item-blue {
    background-color: #3B34A6;
    color: #FFFFFF;
    padding: 40px 70px;
}

.why-we .grid .item-blue h3 {
    color: #FFFFFF;
}

.why-we .grid .item-blue .btn {
    background-color: #3B34A6;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

/* how-to */

.how-to .container {
    background: url(../img/main/how-to-bg.png) no-repeat center top / 100% auto;
    padding: 45px 0;
}

/* TODO: префиксы. */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.how-to .how-to-grid {
    padding: 30px 0;
}

/* TODO: префиксы. */
.how-to .item {
    text-align: center;
    flex-basis: 20%;
}

.how-to .item .image {
    position: relative;
}

.how-to .item .image::after {
    content: '';
    position: absolute;
    right: -85px;
    top: 50%;
    transform: translateY(-50%);
    width: 95px;
    height: 35px;
    background: url(../img/main/arrow-right.png) no-repeat center center / auto;
}

.how-to .item:last-child .image::after {
    display: none;
}

.how-to .item img {
    display: block;
    float: none;
    margin: 0 auto;
}

.how-to .item .info {
    padding: 15px 0;
}

/* consultation-form */

.consultation-form {
    padding-bottom: 20px;
}

.consultation-form .heading h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.consultation-form .heading span {
    text-transform: none;
}

.form-control,
textarea {
    border: 0;
    background-color: #F6F6F6;
    padding: 25px;
    box-shadow: none;
    width: 100%;
}

.form-control {
    height: 64px;
}

.consultation-form .form-buttons {
    text-align: center;
}

/* map */

.map {
    position: relative;
}

.contacts-card {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 20px 30px;
    width: 420px;
    background-color: #FFFFFF;
}

.contacts-card h2 {
    margin-top: 0;
    color: #3B34A6;
}

.contacts-card img {
    margin-bottom: 20px;
}

.contacts-card .buttons {
    text-align: center;
}

@media all and (max-width: 1199px) {
    .nav > li > a {
        padding: 20px 10px;
    }
    .slider .flex-caption {
        top: 65%;
    }
    /* TODO: Префиксы. */
    .slider .flex-caption .slide-row .item {
        display: flex;
        align-items: center;
        padding: 0 20px;
    }
    /* TODO: Префиксы. */
    .slider .flex-caption .slide-row .item,
    .slider .flex-caption .slide-row .item.item-small {
        flex-basis: 33.3333%;
    }
    .slider .flex-caption .slide-row .item h2 {
        font-size: 24px;
    }
    .slider .flex-caption .slide-row .item h2 span {
        font-size: 18px;
    }
    .slider .flex-caption .slide-row .item.item-small p {
        font-size: 18px;
        margin: 0;
    }
    /* TODO: Префиксы. */
    .programs .programs-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .programs .item {
        max-height: 280px;
    }
    .calculator .item-wrapper {
        text-align: center;
    }
    .calculator .item {
        display: inline-block;
        max-width: 300px;
        margin-bottom: 20px;
    }
}

@media all and (max-width: 991px) {
    .slider .flex-caption .slide-row .item h2 {
        font-size: 20px;
    }
    .slider .flex-caption .slide-row .item h2 span {
        font-size: 16px;
    }
    .advantages .item .image {
        display: inline-block;
        padding-bottom: 20px;
    }
    .advantages .item .image-wrapper,
    .advantages .item .info {
        text-align: center;
    }
    /* TODO: Префиксы. */
    .programs .item {
        max-height: none;
        flex-wrap: wrap;
    }
    .programs .item .image,
    .programs .item .text {
        flex-basis: 100%;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .header-phone {
        font-size: 18px;
    }
    .navbar-collapse {
        text-align: center;
    }
    .navbar-nav {
        display: inline-block;
        float: none !important;
    }
    .nav > li > a {
        font-size: 13px;
    }
}

@media all and (max-width: 767px) {
    header {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        background-color: #1b2746;
    }
    /* TODO: Префиксы. */
    header .top-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .logo,
    .header-address,
    .call-order {
        text-align: center;
    }
    .logo a {
        display: inline-block;
    }
    .navbar-collapse {
        border: 0;
    }
    .slider {
        display: none;
    }
    /*
    .slider .flex-caption {
        top: 45%;
        left: 0;
        transform: translate(0%, -50%);
    }
    */
    /* TODO: Префиксы. */
    /*
    .slider .flex-caption .slide-row {
        flex-wrap: wrap;
    }
    .slider .flex-caption .slide-row .item,
    .slider .flex-caption .slide-row .item.item-small {
        flex-basis: 100%;
        border-right: 0;
        border-bottom: 1px solid #ffffff;
        padding: 20px;
    }
    .slider .flex-caption .slide-text {
        padding: 20px;
    }
    */
    .advantages .item-wrapper {
        text-align: center;
    }
    .advantages .item {
        display: inline-block;
        max-width: 250px;
        margin-bottom: 20px;
    }
    .get-consultation .heading,
    .get-consultation .buttons {
        text-align: center;
    }
    .calculator-row label {
        text-align: center;
        width: 100%;
    }
}

@media all and (max-width: 600px) {
    .programs .programs-wrapper > * {
        width: 100%;
    }
    .programs .item .image img {
        float: none;
        margin: 0 auto;
    }
    .calculator .item-wrapper {
        width: 100%;
    }
}

@media all and (max-width: 480px) {
    header .top-wrapper > * {
        width: 100%;
    }
}