.btn,
.btn:not(.btn-link):not(.btn-circle) {
    border-radius: 15px;
    padding: 6px 12px;
    text-align: center;
    min-width: 105px;
    font-size: 14px;
    text-transform: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
}

.btn-filter,
.btn.btn-filter:not(.btn-link):not(.btn-circle){
    border: 1px solid #00B034;
    color: #00B034;
}

.btn-primary,
.btn.btn-primary:not(.btn-link):not(.btn-circle) {
    background-color: #00B034 !important;
    color: #FFFFFF;
    border: 1px solid #00B034;
}

.theme-orange .navbar-right {
    margin-right: 0;
}
.theme-orange .navbar::before,
.theme-orange .navbar::after {
    display: none;
}
.theme-orange .navbar-brand {
    height: auto;
    font-size: 16px;
    line-height: 1.5;
}
.theme-orange .nav-tabs .nav-item.active .nav-link {
    border-bottom: 1px solid #ffc100 !important;
    color: #ffc100 !important;
    font-weight: 700;
}
.theme-orange .navbar-nav .menu-app .menu {
    width: 205px;
}
.theme-orange .navbar-nav .menu-app .menu li a {
    height: 100px;
}
.theme-orange [type="checkbox"]+label,
.theme-orange [type="radio"]+label {
    width: 100%;
}
.theme-orange #myTabEvents {
    padding: 20px 0 0;
}
.theme-orange .nav-tabs+.tab-content {
    padding: 15px 0 0;
}
.theme-orange label.control-label {
    font-size: 14px;
    line-height: 20px;
    color: #000;
    font-weight: 700;
    margin: 0;
}
/* .theme-orange .list-view .summary {
    background: #fff;
    min-height: 50px;
    position: relative;
    transition: .5s;
    border-radius: 8px;
    border: none;
    margin-bottom: 30px;
    padding: 20px;
} */
.theme-orange .img-fluid {
    max-width: 100%;
    height: auto;
}
.theme-orange .progress {
    height: 20px;
}
.theme-orange .progress .progress-bar,
.theme-orange .object-progress-striped .left-pr-striped,
.theme-orange .object-progress-striped .right-pr-striped {
    line-height: 20px;
}
/* TODO: префиксы */
.theme-orange .object-progress-striped {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.theme-orange .object-progress-striped .center-pr-striped {
    flex-basis: 75%;
}

@media (min-width: 768px) {
    .float-md-right {
        float: right!important;
    }
}

.form-group.form-group-comment {
    margin: 0 0 10px;
    clear: both;
}

.answer-form-comment {
    float: none;
    clear: both;
    padding: 20px 0 10px;
}

textarea.form-control {
    height: 36px;
}

.form-block .help-block {
    display: none;
}

.object-page .profile-page .profile-header {
    padding-top: 0px;
}

.object-page .profile-page .profile-header .m-b-0 {
    margin-bottom: 10px;
}

/* catalog */

.catalog-page {
    font-family: Calibri, sans-serif;
}

.catalog-page .input-adjustment-dropdown {
    display: inline-block;
    width: 115px;
}

.catalog-page .input-adjustment-dropdown .bootstrap-select {
    border-bottom: 0 !important;
}

.catalog-page .search-filters .control-label {
    display: none;
}

.catalog-page .search-filters .form-group {
    margin: 10px 20px 0 0;
    margin-bottom: 10px;
}

.catalog-page .search-filters .buttons > * {
    margin-right: 15px;
}

.inputs-group {
    display: inline-block;
    width: auto;
    padding-bottom: 0;
}

.modal .inputs-group {
    width: 100%;
}

.inputs-group-stack {
    display: inline-block;
    width: auto;
    border: 1px solid #C6C6C6;
    border-radius: 5px;
    padding-bottom: 0;
}

.inputs-group > *,
.inputs-group .form-line {
    display: inline-block;
}

.inputs-group .form-line {
    width: 65px;
    border-bottom: 0;
}

.modal .inputs-group .form-line {
    width: 120px;
}

.inputs-group.search-filters-price .form-line {
    width: 95px;
}

.inputs-group .form-line:first-child {
    border-right: 1px solid #9D9D9D;
}

.inputs-group.input-individual .form-line:first-child {
    border-right: 0;
}

.inputs-group .form-line::after {
    display: none;
}

.inputs-group .inputs-group-label {
    margin-right: 5px;
}

.inputs-group .form-control {
    margin-bottom: 0;
    padding: 6px 10px;
    padding-left: 10px;
}

.select-group {
    display: inline-block;
    width: auto;
    border: 1px solid #00B034;
    padding-bottom: 0;
}

.select-group,
.select-group .btn,
.select-group .btn:not(.btn-link):not(.btn-circle){
    border-radius: 15px;
}

.select-group .btn-group {
    margin: 0;
}

.select-group .btn,
.select-group .dropdown-menu > li > a,
.select-group .bootstrap-select .dropdown-menu li.selected a {
    color: #00B034 !important;
}

.select-group .btn,
.select-group .btn:not(.btn-link):not(.btn-circle) {
    font-size: 14px;
    text-transform: none;
}

.breadcrumb li,
.breadcrumb li a,
.breadcrumb > .active,
.breadcrumb > li + li::before {
    color: #29353A;
}

.product_item {
    border-radius: 10px;
}

.product_item:hover .cp_img {
    top: 5px;
}

.product_item:hover .cp_img img {
    box-shadow: none;
}

.product_item:hover .cp_img .hover {
    display: none;
}

.product_item .cp_img.open {
    top: -40px;
}

.product_item .cp_img.open img {
    box-shadow: 0 19px 38px rgba(0,0,0,0.3),0 15px 12px rgba(0,0,0,0.22);
}

.product_item .cp_img .hover .btn {
    min-width: 41px;
    min-height: 41px;
}

.product_item .cp_img .hover > * {
    border-radius: 5px;
}

.product_item .cp_img.open .hover {
    display: block;
}

.product_item .btn.product_favorite i {
    color: #FF1601;
}

.product_item .btn.product_link i {
    color: #00B034;
    font-size: 25px;
}

.product_item .product_details {
    text-align: left;
    padding-top: 85%;
}

.product_item .product_details > * {
    display: inline-block;
    vertical-align: top;
}

.product_item .product_details h5 {
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0;
    margin-top: 0;
}

.product_item .product_details h5,
.product_item .product_details h5 a,
.product_item .product_details .product_city {
    font-size: 18px;
}

.product_item .product_details .product_city {
    font-weight: 700;
    width: 48%; /* TODO: Исправить */
    text-align: right;
}

.product_item .product_price {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.product_item .product_price > *,
.product_item .product_cian > *,
.product_item .product_market_price > * {
    display: inline-block;
}

.product_item .product_price > *,
.product_item .product_cian > *,
.product_item .product_market_price > * {
    width: 100%;
}
/* TODO: Префиксы */
.product_item .product_bottom {
    display: flex;
    justify-content: space-between;
}

.product_item .product_bottom > * {
    flex-basis: 33%;
}

.product_item .product_market_price {
    flex-basis: 45%;
}

.product_item .product_cian > *,
.product_item .product_market_price > * {
    text-align: center;
    font-size: 16px;
}

.product_item .product_price .value {
    font-size: 23px;
    padding: 10px 0 0;
}

.product_item .product_help {
    text-align: center;
    font-size: 16px;
    color: #6E6E6E;
}

.product_item .product_price .product_help {
    font-size: 12px;
}

.owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: #FFFFFF;
}

.owl-nav > * {
    position: absolute;
    top: -24px;
}

.owl-carousel .owl-nav button.owl-next i,
.owl-carousel .owl-nav button.owl-prev i {
    font-size: 48px;
}

.owl-nav .owl-prev {
    left: 18px;
}

.owl-nav .owl-next {
    right: 18px;
}

.product_item .product_trust {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    z-index: 50;
    background: #FFFFFF;
    border-radius: 50%;
    height: 50px;
}

.product_item .product_tags {
    position: absolute;
    top: 25px;
    left: 30px;
    display: inline-block;
    z-index: 50;
}

.product_item .product_tags .object-tag {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    min-width: 52px;
    min-height: 35px;
    padding: 8px 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #009F3C;
}

.product_item .product_tags .object-tag-nks {
    background: #246B98 url(../img/object/nks.png) no-repeat center center / auto;
}

.product_item .product_action {
    position: absolute;
    bottom: 25px;
    left: 0;
    transform: rotate(45deg);
    text-transform: lowercase;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #EC3D40;
    border-radius: 5px;
    text-align: center;
    padding: 2px 22px;
    z-index: 50;
}

.modal-md .modal-dialog {
    width: 500px;
}

.modal .close {
    color: #000;
    opacity: 0.2;
    font-size: 21px;
}

.theme-orange .modal [type="checkbox"] + label,
.theme-orange .modal [type="radio"] + label {
    width: auto;
    padding-right: 5px;
}

.modal .inputs-group {
    margin-right: 0;
}

.modal .modal-footer .form-group {
    margin: 5px 0 0;
    margin-bottom: 5px;
}