.theme-orange .navbar-right {
    margin-right: 0;
}
.theme-orange .navbar::before,
.theme-orange .navbar::after {
    display: none;
}
.theme-orange .navbar-brand {
    height: auto;
    font-size: 16px;
    line-height: 1.5;
}
.theme-orange .nav-tabs .nav-item.active .nav-link {
    border-bottom: 1px solid #ffc100 !important;
    color: #ffc100 !important;
    font-weight: 700;
}
.theme-orange .navbar-nav .menu-app .menu {
    width: 205px;
}
.theme-orange .navbar-nav .menu-app .menu li a {
    height: 100px;
}
.theme-orange [type="checkbox"]+label,
.theme-orange [type="radio"]+label {
    width: 100%;
}
.theme-orange #myTabEvents {
    padding: 20px 0 0;
}
.theme-orange .nav-tabs+.tab-content {
    padding: 15px 0 0;
}
.theme-orange label.control-label {
    font-size: 14px;
    line-height: 20px;
    color: #000;
    font-weight: 700;
    margin: 0;
}

@media (min-width: 768px) {
    .float-md-right {
        float: right!important;
    }
}